.intro h1 {
    margin: 0 0;
    line-height: 1em;
}
.intro h2 {
    margin: 5px 0;
    line-height: 1.5em;
}
.intro p {
    margin-top: 15px;
    line-height: 1.5em;
    max-width: 700px;
}
.intro birthdate,
.intro daySince > span{
    font-weight: bold;
}
.intro daySince {
    font-style: italic;
}

@media only screen and (max-width: 767px) {
    .intro {
        text-align: center;
    }
}